<h1> Game</h1>

<h2>Players</h2>

<ul>
<% @game.game_memberships.each do |membership| %>
    <li><%= membership.name %></li>
<% end %>
</ul>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="-250 -250 500 500">
    <% @game.territories.each do |territory| %>
        <polygon points="<%= territory_polygon_points(territory) %>" fill="white" stroke="black" />
        <text x="<%= territory_center_x(territory) %>" y="<%= territory_center_y(territory) %>" text-anchor="middle" dominant-baseline="middle" >
            <%= territory.terrain.name %>
            <% if territory.production_number %>
                (<%= territory.production_number.value %>)
            <% end %>
        </text>
    <% end %>
</svg>
